.app {
    height: 100vh;
}

.sections {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: calc(100vh - 70px);
    top: 70px;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.sections>* {
    width: 100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
}