.app {
    height: 100vh;
}

.sections {
    position: relative;
    width: 100%;
    height: calc(100vh - 70px);
    top: 70px;
    scroll-snap-type: y mandatory;
}

.sections > * {
    width: 100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
}